body {
    background-color: #232e40;
    display: flex;
    height: 95vh;
    column-gap: 10px;
    color: white;
}

.container {
    display: flex;
    background-color: #101826;
    border: 2px #414e5f solid;
    border-radius: 10px;
    width: 90vw;
    margin: 1vh auto;
    flex-direction: column;
}

#couleurs{
    display: flex;
    flex-wrap: wrap;
}

.legende{
    display: block;
}

#btns{
    display: flex;
}

#btns div {
    display: block;
    border-radius: 10px;
    width: 90px;
    height: 50px;
    margin: 5px;
    align-content: center;
    text-align: center;

}

#btn-valider{
    background-color: dodgerblue;
}

#btn-effacer{
    background-color: #0b1321;
}

#btn-nvpartie{
    background-color: #0b1321;
}

.desactive{
    opacity: 0.2;
    pointer-events: none;
}

.enonce{
    display: flex;
}

.enonce div{
    display: block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 12px;
    margin-left: 10px;
}

#vert{
    border: 3px solid green;
}

#jaune{
    border: 3px solid orange;
}